


header{
  font-family: Veranda;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  width: 100%;
  height 80px;
  justify-content: flex-start;
  border-bottom: 2px solid black;
  z-index: 5;
}

header a{
  color: black;
}

.logo{
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 30px;
}

header nav{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  flex-flow: row wrap;

}
.logo img{
  margin-right: 12px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

.content{
  display: flex;
}

.column.large{
  width: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}
.column.medium{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.column.small{
  width: 240px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.stories{
  display: flex;
  flex-direction: row;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  justify-content: center;
}

.story{
  display: flex;
  flex-direction: column;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.right-story{
  margin-right: 20px;
}

.title{
  display: flex;
  flex-direction: column;
  width: auto;
}

div.main-story-title{
  background-image: url("../images/img-story-main.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: center;
  height: 300px;
  align-items: center;
}

div.earth-story{
  background-image: url("../images/img-story-2.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  height: 300px;
  align-items: center;
}

div.camera-story{
  background-image: url("../images/img-story-3.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  height: 300px;
  align-items: center;
}

div.catStoryImage{
  background-image: url("../images/img-story-1.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  height: 300px;
  align-items: center;
}

div.bites h3{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
div.bites li{
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 11px 20px;
  margin: 0;
}

ul{
  padding:0;
  margin: 0;
}
